<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-brand">
      <img src="images/rvra-logos/RVRA logo PNG.png" alt="RVRA Logo">
      <p class="tagline">Change starts locally. Learn more about Roe Valley Residents Association.</p>
    </div>

    <div class="footer-links">
      <div class="footer-column">
        <h4>Explore</h4>
        <ul>
          <li><a href="our-projects.html">Our Projects</a></li>
          <li><a href="get-involved.html">Get Involved</a></li>
          <li><a href="news-and-events.html">News</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Contact</h4>
        <p>Email: <a href="mailto:info@rvra.org.uk">info@rvra.org.uk</a></p>
        <p>Phone: <a href="tel:+442812345678">028 1234 5678</a></p>
        <p>Limavady, Northern Ireland</p>
      </div>

      <div class="footer-column">
  <h4>Follow Us</h4>
  <div class="footer-socials">
    <a href="https://www.facebook.com/roevalley.residents/" target="_blank" rel="noopener noreferrer">
      <img src="images/social-logos/facebook.png" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/rvralimavady/" target="_blank" rel="noopener noreferrer">
      <img src="images/social-logos/instagram.png" alt="Instagram">
    </a>
    <a href="https://x.com/rvra_limavady" target="_blank" rel="noopener noreferrer">
      <img src="images/social-logos/twitter.png" alt="Twitter">
    </a>
  </div>
</div>


  <div class="footer-bottom">
    <p>&copy; 2025 Roe Valley Residents Association | Charity No. NI123456</p>
    <a href="#" class="privacy-link">Privacy Policy</a>
  </div>
</footer>
