<footer>
    <div class="footer-socials">
      <a href="https://www.facebook.com/roevalley.residents/" target="_blank" rel="noopener noreferrer">
        <img src="images/social-logos/facebook.png" alt="Facebook">
      </a>
      <a href="https://www.instagram.com/rvralimavady/" target="_blank" rel="noopener noreferrer">
        <img src="images/social-logos/instagram.png" alt="Instagram">
      </a>
      <a href="https://x.com/rvra_limavady" target="_blank" rel="noopener noreferrer">
        <img src="images/social-logos/twitter.png" alt="Twitter">
      </a>
    </div>
    &copy; 2025 Roe Valley Residents Association. All rights reserved.
  </footer>
  