<header>
    <div class="nav-wrapper">
      <div class="logo-container">
        <a href="index.html">
          <img src="images/rvra-logos/RVRA logo PNG.png" alt="RVRA Logo">
        </a>
      </div>
      <button class="mobile-menu-btn" id="menuBtn">&#9776;</button>
      <nav class="desktop-nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about-us.html">About Us</a></li>
          <li><a href="what-we-do.html">What We Do</a></li>
          <li><a href="our-projects.html">Our Projects</a></li>
          <li><a href="get-involved.html">Get Involved</a></li>
          <li><a href="news-and-events.html">News</a></li>
        </ul>
      </nav>
    </div>
  
    <div class="mobile-menu" id="mobileMenu">
      <button class="close-btn" id="closeBtn">&times;</button>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="what-we-do.html">What We Do</a></li>
        <li><a href="our-projects.html">Our Projects</a></li>
        <li><a href="get-involved.html">Get Involved</a></li>
        <li><a href="news-and-events.html">News</a></li>
      </ul>
      <div class="mobile-socials">
        <a href="https://www.facebook.com/roevalley.residents/" target="_blank" rel="noopener noreferrer">
          <img src="images/social-logos/facebook.png" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/rvralimavady/" target="_blank" rel="noopener noreferrer">
          <img src="images/social-logos/instagram.png" alt="Instagram">
        </a>
        <a href="https://x.com/rvra_limavady" target="_blank" rel="noopener noreferrer">
          <img src="images/social-logos/twitter.png" alt="Twitter">
        </a>
      </div>
    </div>
  </header>
  